.auth {
    background-image: url(../../img/bg.png);
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 150px 200px 100px 200px;
    color: white;
    &_header {
        font-size: 40px;
        font-weight: 500;
        margin: 0;
    }
    .auth_red{
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 18px;
        .auth_link{
            margin-left: 20px;
            color: #F4A937;
            text-decoration: none;
        }
    }
}

.form{
    display: flex;
    flex-direction: column;
    .label{
        font-size: 16px;
        font-weight: 500;
    }
    &_input{
        background-color: rgba(255, 255, 255, 0.184);
        border: 0px solid white;
        width: 460px;
        padding: 10px 20px;
        margin-bottom: 20px;
        font-size: 18px;
        color: white;
    }
    &_btn{
        cursor: pointer;
        background-color: transparent;
        width: max-content;
        width: 500px;
        padding: 6px 0;
        text-align: center;
        border: 2px solid #F4A937;
        font-size: 18px;
        font-weight: 500;
        color: white;
        text-decoration: none;
        transition: 0.5s;
        &:hover{
            background-color: #F4A937;
            transition: 0.5s;
        }
    }
}

.errors{
    color: #F4A937;
    font-size: 12px;
    margin-bottom: 6px;
}

.swal2-styled.swal2-confirm{
    cursor: pointer;
    background-color: transparent;
    width: max-content;
    padding: 6px 50px;
    border: 2px solid #F4A937;
    border-radius: 0px;
    font-size: 18px;
    font-weight: 500;
    color: black;
    text-decoration: none;
    transition: 0.5s;
    &:hover{
        background-color: #F4A937;
        color: white;
        transition: 0.5s;
    }
}

@media screen and (max-width: 900px) {
    .auth {
        padding: 100px;
    }
}

@media screen and (max-width: 650px) {
    .auth {
        padding: 100px 20px 80px 50px;
        &_header {
            font-size: 32px;
        }
    }
}

@media screen and (max-width: 600px) {
    .auth {
        display: flex;
        flex-direction: column;
        align-items: center;
        .auth_red{
            display: flex;
            flex-direction: column;
            align-items: center;
            .auth_link{
                margin-left: 0;
            }
        }
    }
    .form{
        &_input{
            width: 300px;
        }
        &_btn{
            width: 340px;
        }
    }
}

@media screen and (max-width: 450px) {
    .auth {
        padding: 100px 20px 50px 30px;
    }
    .form{
        &_input{
            width: 250px;
        }
        &_btn{
            width: 290px;
        }
    }
}